body{
    background-color: gray;
    font-family:Arial, Helvetica, sans-serif ;
}
h1{
    color: brown;
}
p{
    color: white;
    font-size: xx-large;
}
h3{
    color: black;
    font-size: x-large
}
.myDiv {
    height: 1500px;    
    text-align: center;
  }
.poopDiv {
    border: 5px outset black;
    background-color: black;   
    text-align: center;
}
.container {
    display:flex;
    flex-direction: row;
    gap: 40px;
}
.left, 
.right {
    flex-basis: 0;
    flex-grow: 1;
    /*border: 5px outset black*/
}
#bg{
    position: fixed;
    inset: 0px;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: fit-content;
    filter: blur(4px);
    opacity: 0.3;
}

